body {
    background-color: rgb(107, 156, 231);
    font-family: 'Arial Narrow Bold', sans-serif, Impact, Haettenschweiler;
    display: flex;
    justify-content: center;
}

section {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    height: 50%;
    margin-top: 20px;
    padding: 16px;
}

section > article {
    display: flex;
    border-bottom: 1px solid rgb(234, 234, 234);
}

div {
    padding: 16px 8px;
    line-height: 4px;
}

h1 {
    color: rgb(85, 85, 85);
}

p {
    color: rgb(190, 195, 207);
}

.imagen {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 100%;
}

.lola {
    border-bottom: 0px;
}
